body{
  background: #111116;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --dark-bg-color: #111116;
    --light-bg-color: #1C1C24;
    --lighter-bg-color: #21212B;
    --gradient-left: #13FBFD;
    --todo-list-left: #13FBFD;
    --gradient-right: #F76BFB;
    --main-font-color: white;
    --sub-font-color: rgb(246, 224, 224);
    --button-hover: #F76BFB;

    
    --list-of-list-title-size: 2rem;
    --list-of-list-list-size: 1.1rem;
    --list-of-list-line-height: 1.7;
    --todo-list-font-size: 2rem;
    --todo-list-list-size: 1.3rem;
    --todo-list-line-height: 1.7;

    --light-weight-bold: 700;

    --bg-color-a: #13FBFD; /* page header + form label */
    --bg-color-b: #404040; /* calendar header */
    --bg-color-c: #F76BFB; /* buttons */
    
    /* background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); */
    /* background: linear-gradient(to right, #86fde8, #acb6e5); #acb6e5*/
    
}



.navbar {
    background: var(--light-bg-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: var(--gradient-left);
    background-image: linear-gradient(to right, var(--gradient-left) 0%, var(--gradient-right) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    justify-content: cneter;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--gradient-left);
    background: -webkit-linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    background: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    color: #fff;
    transition: all 0.3s ease;
  }


.navbar__links:hover {
    color: var(--button-hover);
    transition: all 0.3s ease;
}

.hero__container {
    color: var(--main-font-color);
    background: var(--dark-bg-color);
}











/*TODO-LIST CSS*/

.todo {
    background-color: var(--dark-bg-color);
    display: grid;
    grid:
        "...... lists active ......" auto/
        1fr minmax(150px, 350px) minmax(300px, 600px) 1fr;
}

.all-tasks {
    grid-area: lists;
    padding: 3rem;
}

.todo-list {
    grid-area: active;
}

.all-tasks {
    color: var(--main-font-color);
    
}

.task-list-title {
    font-size: var(--list-of-list-title-size);
    color: var(--todo-list-left);
}

.task-list {
    line-height: var(--list-of-list-line-height);
    font-size: var(--list-of-list-list-size);
    list-style: "||  ";
    font-weight: var(--light-weight-bold);
    color: var(--todo-list-left);
    padding-left: 1.5rem;
}

.list-title {
    font-size: var(--todo-list-font-size);
    color: var(--main-font-color);
    margin: 0 1rem 0 0;
}

.task-count {
    font-size: 1.1rem;
    color: var(--main-font-color);
}

.tasks {
    line-height: var(--todo-list-line-height);
    font-size: var(--todo-list-list-size);
    color: var(--main-font-color);
}

.new {
    background: transparent;
    color: var(--main-font-color);
    border-radius: 0.5rem;
    border-color: var(--todo-list-left);
    font-size: inherit;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    transition: all 0.3s ease-in-out;
}

.new:hover {
    border-color: var(--gradient-right);
}

.new:focus::placeholder {
    opacity: 0.5;
    border-color: var(--gradient-right);
}

.new::placeholder {
    opacity: 1;
    color: var(--main-font-color);
}


.btn {
    cursor: pointer;
    background: 0;;
    border: 0;
    padding: 0;
    color: var(--main-font-color);
    transition: all 0.3s ease-in-out;
}

.btn.list {
    font-size: 1.3rem;
    font-weight: 900;
}

.btn.task {
    font-size: 1.3rem;
    font-weight: 900;
}

.btn.list:hover {
    color: var(--button-hover);
}

.btn.task:hover {
    color: var(--button-hover);
    cursor: pointer;
}

.btn.task::after{
    content: "";
    position: absolute;
    transition: all 0.3s ease-in-out;
    height: 0px;
}


.btn.delete {
    cursor: pointer;
    font-size: 1rem;
    color: var(--gradient-left);
}

.btn.delete:hover {
    color: var(--button-hover);
}

.list-name {
    transition: all 0.3s ease-in-out;
}

.list-name:hover {
    color: var(--main-font-color);
    cursor: pointer;
}
/* todo-list custom checkbox area */
.todo-list {
    --spacer: 2rem;
    transition: all 0.3s ease-in-out;

    grid-area: active;
    background-image: url("todobackground.png");
    background-size: 100%;
    border-radius: 2rem;
    

}



.todo-header {
    padding: var(--spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-body {
    padding-bottom: var(--spacer);
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.active-list{
    color: var(--gradient-right)
}

/* todo-list custom checkbox area ends*/

/*TODO-LIST CSS ends*/


/* hiding the check box */
[type="checkbox"] {
    opacity: 0%;
    position: absolute;
}


/* custom checkbox */
.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    margin-right: var(--size);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.task:hover .custom-checkbox{
    transform: scale(1.1);
    cursor: pointer;
}
.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.task {
    position: relative;
    margin-bottom: 1.25rem;
    color: white;
    font-size: 1.3rem;
}

.task::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.3em;
    opacity: 0.3;
    color: var(--gradient-right);
    height: 1px;
    background: currentColor;
    transition: all 0.2s ease-in-out;
}



.task label::after{
    content: "";
    position: absolute;
    right: 0;
    left: 1.5em;
    color: var(--gradient-right);
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.15s ease-in-out;
}

/* action checks */
[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--gradient-right);
    border-color: var(--gradient-right);
    opacity: 0.5;

}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

[type="checkbox"]:checked + label::after{
    transform: scaleX(1);
}

/*
 ///////// the delete buttons /////////
*/
.delete-items {
    display: flex;
    justify-content: space-between;
}


/*TODO-LIST CSS ends*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
      }

    .navbar__menu.active {
        background: var(--lighter-bg-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 50px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--main-font-color);
    }

    .narbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
      }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
      }
    

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}




/*POMODORO CSS*/
.timer {
    position: absolute;
    top: 52%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
  
.clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 10rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
}
  
.mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
}
  
.mode-button.active {
    border-color: #fff;
}
  
.main-button {
    cursor: pointer;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(175, 26%, 41%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
}
  
.main-button:hover {
    color:var(--gradient-left);
    background-color: var(--gradient-right);
    cursor: pointer;
}

button:focus, button:active {
    outline: none;
}
  
.main-button.active {
    outline: none;
}
  
.hidden {
    display: none;
}
  
 @media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
}

/*Save your todo list CSS*/
.savetodo{
    padding-top: 2rem;
    padding-bottom: 5rem; 
}
.savetodo-title{
    color: var(--gradient-right);
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.storing-address{
    background: white;
    color: black;
    border-radius: 0.5rem;
    border-color: transparent;
    font-size: inherit;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    transition: all 0.3s ease-in-out;
}


.read-and-write-btn{
    padding-top: 0.3rem;
    border-top: 1rem;
    border-bottom: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    align-items: center;
    font-size: 1.2rem;

    transition: all 0.3s ease-in-out;
}

.read-and-write-btn:hover{
    color: var(--gradient-right);
    cursor: pointer;
}

/*STOPWATCH CSS*/
.stopwatch {
    position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
.watch {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 10rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
}


/*CALENDAR CSS*/

  #calPeriod {
    padding: 15px;
    background-color: var(--gradient-left);
    background-image: linear-gradient(to right, var(--gradient-left) 0%, var(--gradient-right) 100%);
  }
  #calPeriod input, #calPeriod select {
    font-size: 20px;
    border: 0; outline: none;
    color: #fff; background: 0;
    cursor: pointer;
  }
  #calPeriod option { color: #000; }
  #calYear {
    width: 100px;
    margin-left: 10px;
  }

  .calHead, .calRow { display: flex; }
  .calCell { background: white;
    width: 14.2857%; }
  .calCell:hover{
   background:rgb(250, 211, 243);  
  }
  
  .calHead .calCell {
    color: #fff; background: var(--bg-color-b);
    font-weight: 700; text-align: center;
    padding: 15px 0;
  }
  
  .calBlank { background: #eee; }
  .calToday { background: #d3e5ff; }
  .calToday .cellDate { color: #9ba3ff; }
  .calBody .calCell {
    border: 1px solid #f5f5f5;
    min-height: 80px;
  }
  .cellDate, .evt { padding: 5px; }
  .cellDate {
    font-size: 14px;
    font-weight: 700;
    color: #b5b5b5;
  }
  .evt {
    font-size: 14px;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
  
  #calForm {
    position: absolute; top: 0; left: 0; z-index: 999;
    width: 100vw; height: 100%; min-height: 100vh;
    padding: 0; margin: 0; border: 0;
    background: rgba(0,0,0,0.5);
  }
  #calForm:is([open]) {
    display: flex; flex-wrap: wrap;
    align-items: center; justify-content: center;
  }
  #calForm form {
    position: relative;
    width: 450px; padding: 15px;
    border-radius: 10px;
    background: #fff;
  }
  #evtClose {
    position: absolute;
    top: 0; right: 0;
    padding: 10px;
    color: #F76BFB;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
  }
  #calForm h2 { margin: 0 0 15px 0; }
  #calForm label, #calForm input[type=text], #calForm textarea { width: 100%; }
  #calForm label {
    color: #a1a1a1;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
  }
  #calForm input[type=text], #calForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: #f5f5f5;
  }
  #calForm textarea {
    height: 100px;
    resize: none;
  }
  #calForm input[type=button], #calForm input[type=submit] {
    border: 0; padding: 10px; margin: 10px 2px 0 0;
    color: #fff; background: var(--bg-color-c);
    cursor: pointer;
  }